html {
  margin: 0;
  padding: 0;
  background-image: url('../img/white-waves.png');
}

body {
  color: #258;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 40em;
}

#horizon {
  /* background gradient overlaid on <html> element's wave pattern image */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(top,  rgba(232,244,255,0.4) 0%, rgba(209,233,255,0.4) 36%, rgba(212,249,233,0.4) 50%, rgba(242,219,167,0.4) 52%, rgba(255,247,211,0.4) 70%, rgba(255,253,247,0.4) 100%);
  background: -webkit-linear-gradient(top,  rgba(232,244,255,0.4) 0%,rgba(209,233,255,0.4) 36%,rgba(212,249,233,0.4) 50%,rgba(242,219,167,0.4) 52%,rgba(255,247,211,0.4) 70%,rgba(255,253,247,0.4) 100%);
  background: linear-gradient(to bottom,  rgba(232,244,255,0.4) 0%,rgba(209,233,255,0.4) 36%,rgba(212,249,233,0.4) 50%,rgba(242,219,167,0.4) 52%,rgba(255,247,211,0.4) 70%,rgba(255,253,247,0.4) 100%);

  z-index: -1;
}

.main {
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 85, 0.2);
  margin-bottom: 1.5em;
}

label {
  margin-right: 0.5em;
}

button,
input {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0;
}

button {
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  background-color: #f8f8f8;
  padding: 0.3em 0.5em;
}

button:hover {
  background-color: #eef4ff;
}

input[type="text"],
input[type="search"] {
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  width: 15em;
  padding: 0.2em 0.3em;
}

input[type="text"]:focus,
input[type="search"]:focus {
  border-color: rgba(0, 0, 100, 0.6);
  box-shadow:
    inset 1px 1px 3px 0   rgba(0, 0, 150, 0.2);
}

.loading-spinner {
  background-image: url('../img/tides-loader.gif');
  width: 16px;
  height: 16px;
  display: none;
  text-indent: -999em;
}

.loading-spinner.loading {
  display: inline-block;
}

#found-stations {
  margin: 1em auto 1em;
  padding: 0;
  max-width: 25em;
}

.found-station {
  list-style: none;
  padding: 0.2em 0;
  margin: 0;
}

.found-station button {
  width: 100%;
  margin: 0;
}

#tides h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0 0 0.5rem;
}

#tides canvas {
  box-sizing: border-box;
  width: 100%;
  height: 15em;
  margin: 0 0 0.5rem;
}

#tides p.axis-label {
  text-align: center;
  margin: 0;
  padding: 0;
}

footer p {
  color: rgba(0, 0, 85, 0.6);
}
