html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  max-width: 40em;
  display: grid;
  grid-template-rows: 1fr auto;
}

button,
input {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0 0.5em;
}

button {
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  background-color: #f8f8f8;
  padding: 0.3em 0.5em;
}

button:hover {
  background-color: #eef4ff;
}

input[type="text"],
input[type="search"] {
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 0.2em 0.3em;
}

input[type="text"]:focus,
input[type="search"]:focus {
  border-color: rgba(0, 0, 100, 0.6);
  box-shadow:
    inset 1px 1px 3px 0   rgba(0, 0, 150, 0.2);
}

#found-stations {
  margin: 1em 0 1em;
  padding: 0;
  max-width: 20em;
}

.found-station {
  list-style: none;
  padding: 0.2em 0;
  margin: 0;
}

.found-station button {
  width: 100%;
  margin: 0;
}

#tides {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#tides p {
  margin: 0;
  padding: 0 0.5em 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#tides p:last-child {
  border-right: none;
}

#tides p.low {
  padding-top: 2em;
}

#tides p.high {
  padding-bottom: 2em;
}
